.top {
    width: 70%;
    height: 40px;
    margin: 0px auto;
    margin-top: 100px;
    border-bottom: 2px solid black;
    font-size: 25px;
    line-height: 40px;
}

.label {
    display: block;
    height: 30px;
    width: 98%;
    margin: 5px auto;
    font-weight: 700;
    line-height: 30px;
}

form {
    margin: 40px auto;
    width: 70%;
}

.input_text {
    display: block;
    width: 97%;
    height: 25px;
    margin: 0 auto;
    padding: 0 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

select {
    display: block;
    height: 25px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.answers {
    width: 97%;
    margin: 0 auto;
}

.radio {
    transform: scale(1.3, 1.3);
}

.text_area {
    display: block;
    width: 97%;
    height: 80px;
    margin: 0 auto;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.submit {
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 500;
}