* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.top {
    width: 80%;
    height: 50px;
    margin: 40px auto;
    margin-top: 100px;
    border-bottom: 2px solid black;
}

.top-button {
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 0px 10px;
    margin: 0 5px;
    /* border: 1px solid black; */
    line-height: 40px;
    color: white;
    background-color: rgb(37, 199, 37);
    border-radius: 8px;
}

.question-list {
    width: 78%;
    margin: 0px auto;
}

.question {
    display: block;
    width: 100%;
    padding: 10px auto;
    margin: 10px auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.question-topic {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}

.question-topic span {
    color: grey;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}

.options {
    display: block;
    padding: 0 10px;
}

.options li {
    margin: 5px auto;
}

.answer {
    margin-top: 10px;
}

.analysis {
    margin: 10px auto;
}

.methods {
    height: 30px;
}

.methods a {
    display: block;
    float: right;
    margin: 0px 10px;
}